* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  header {
    margin: 0;
    display:flex;
  }
  .container{
    height: 150px;
    width:100%;
    background: linear-gradient(-45deg, rgba(6, 62, 62, 0.568),rgba(137, 235, 235, 0.543));
    margin: 0;
    background-size: 400% 400%;
    display: flex;
    justify-content: space-between;
    animation: gradient 12s ease infinite;
    overflow: hidden;
  }
  .container img{
    margin: 20px;
  }
  @keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 50%;
    }
  }
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin: 50px ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    display: inline;
}

li a {
    text-align: center;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: red;
}

.content {
    padding:2em;
    font-size: 1em;
    font-weight: 400;
}
h2{
  color: teal;
  padding:1em 0 1em 0;
}
h3{
  color: teal;
  padding:1em 0 1em 0;
}
p{
  font-size: 1.5em;
}
span {
    color: red;
    font-weight: bold;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(-45deg, rgba(7, 129, 129, 0.474),rgba(135, 221, 221, 0.543));
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer img {
    margin: 10px auto;
}

footer p {
    margin: 10px 0 0;
}





/* Review cards*/


.review {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: teal;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
  }
  
  #person-img {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
  }
  
  #author {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 10px;
    color:#FFFB7D
  }
  
  #job {
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: 10px;
    color: #85FFBD;
  }
  
  #info {
    height: 100px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .btn {
    text-decoration: none;
    border-style: none;
    font-size: 30px;
    margin: 0 10px;
    color: red;
    cursor: pointer;
    background-color:teal;
  }
  .credit a{
    text-decoration: none;
    color: #000;
    font-weight: 800;
    }
    
    .credit {
     
      color:#000;
      text-align: center;
    }
  